.heading-small{
    font-size: 1.2rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}

.text-align{
    text-align: center;
}


.bg-dark-red {
    background-color: rgb(224, 192, 169) !important;

}



/*Container for the blog*/

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

