.heading-small{
    font-size: 1.2rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}

.bg-dark-red {
    background-color: rgb(253, 244, 237) !important;

}

.text-align{
    text-align: center;
}
.font-style{
    font-style: italic;
}
.text-left{
    text-align: left;
}

/*Container for the blog*/

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}
