*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

html{
    font-family: 'Eczar', serif;
}

/*Header*/
.header{
    background-color:rgb(253, 244, 237);
    margin: 0;
}
.logo{
    font-size: 5rem;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;
}
/*Navbar*/

.navbar{
    display: flex;
    margin-top: 3rem;
    color: rgb(47, 46, 46);
    padding: 0 0.75rem;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li a{
    padding: 0 1.5rem;
    font-size: 1.3rem;
    opacity: 0.8;
}


.navbar ul li a:hover{
    color: rgb(253, 244, 237);
    background-color:rgb(47, 46, 46) ;
    border-radius: 15px;
}

/*Home*/

#home{
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: rgb(253, 244, 237);
}

#home img{
    max-width: auto;
    height: auto;
    border-radius: 2rem ;
}

#home .introduce h1{
    margin-left: 2rem;
    font-style: italic;
}

#home .introduce p{
    margin-left: 2rem;
}

#home .introduce p:nth-child(4){
    font-size: 1.4rem;
    font-style: oblique;
}

#home .introduce p:nth-child(4) span{
    font-weight: bold;
    font-size: 1.29rem;
    color: red;
}

/*Hobbies*/

#about{
    padding: 1rem;
    
}

#about h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.hobbies{
    display:flex;
    flex-direction: column;
    padding: 1rem;
}

.hobbies .hobbie{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;

}

.hobbies .hobbie:nth-child(1){
    border-top: 2px solid rgb(0, 0, 0);
}

.hobbies .hobbie .photo{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: center;
} 

.hobbies .hobbie .photo .own{
    padding: 1rem;
    border-radius: 2rem;
    width: 240px;
    height: auto;
}

.hobbies .hobbie img{
    width : auto;
    border-radius: 15px;
}

.hobbies .hobbie p{
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

#contact ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

#contact ul li a{
    padding: 1rem;
    font-size: 3rem;
}

#contact ul li a:hover{
    opacity: 0.7;
}
