
.welcome{
    font-size: 0.8rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 0;
}

.navbar ul li a{
    padding:0.5rem;
    font-size: 0.8rem;
    
}

/*Home*/

#home{
    border-bottom: 1px solid black;
    position: relative;
    background: rgb(253, 244, 237);
}
#home img{
    position: absolute;
    
    left: 0;
    width: 23rem;
    height: auto;
    margin-left: 0.4rem;
}

#home .introduce {

    flex-direction: row;
    margin-top: 17.5rem;
    
}

#home .introduce h1 {
    margin-left: 0;
    font-style: italic;
}

#home .introduce p {
    margin-left: 0;
    font-size: smaller;
    
}


.hobbies .hobbie{
    flex-direction: column;
}

.hobbies .hobbie .photo{
    flex-direction: column;
    width: auto;
    height: auto;
}
