.welcome{
    font-size: 1.8rem;
}

#home{
    flex-direction: column;
    align-items: center;
}
#home img{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#home .introduce h1{
    margin-top: 3rem;
}
.hobbies .hobbie{
    flex-direction: column;
}

.hobbies .hobbie .photo{
    flex-direction: column;
    width: auto;
    height: auto;
}
